<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Canvas</title>
</head>
<body class="dark-theme">
<main>
    <div class="container">
        <h1>Drawing Player</h1>
        <div class="game-grid">
            <!--                <div id="canvas">canvas</div>-->
            <div class="shapes" >
                <div>
                    <img th:src="@{/image/oval.jpg}" alt="oval" width="200">
                </div>
                <button class="shape" onclick="">
                    <img th:src="@{/image/rectangle.png}" alt="rectangle" width="200">
                </button>
                <button class="play-button">Play</button>
                <button class="play-button" onclick="clearCanvas()">Clear</button>
            </div>
        </div>
        <canvas id="myCanvas"></canvas>
    </div>
</main>
<script src="../js/script.js"></script>
</body>
</html>